/* Coolors Exported Palette - coolors.co/4a3560-ff5000-577399-bdd5ea-f7f7ff */

/* HSL */
$color1: hsla(269%, 29%, 29%, 1);
$color2: hsla(19%, 100%, 50%, 1);
$color3: hsla(215%, 28%, 47%, 1);
$color4: hsla(208%, 52%, 83%, 1);
$color5: hsla(240%, 100%, 98%, 1);

/* RGB */
$color1: rgba(74, 53, 96, 1);
$color2: rgba(255, 80, 0, 1);
$color3: rgba(87, 115, 153, 1);
$color4: rgba(189, 213, 234, 1);
$color5: rgba(247, 247, 255, 1);